@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: #40e0d0;
  --color-secondary: #20c6b6;
  --color-tertiaty: #99a0a3;
}

a { 
  @apply text-green-700;
  cursor: pointer;
}

a:hover {
  @apply border-b-2 border-green-700;
}



.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}
