@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: #314558;
  --color-secondary: #b4bbc2;
  --color-tertiaty: #99a0a3;
}

body {
color: #314558;
}

a { 
  color: #314558;
  cursor: pointer;
}

a:hover {
  @apply border-b-2;
  border-color: #314558;
}



.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}
